.App-header {
    background-color: #2a3d63;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    color: white;
    padding: 0 1em;
    height: 60px;
}

.logo {
  width: 150px;
  padding: 0.5em;
}

.links a, .links .MuiButton-primary {
  color: #827676;
  text-decoration: none;
  border: solid 1px #827676;
  padding: 0.5em;
  border-radius: 10px;
  font-weight: 500;
}

.links a {
  margin: 0 1em;
}

.links a:hover {
  color: #fff;
}